{% extends 'base.html' %}
{% import 'macros.html' as macro %}



    {% block content %}
    <h1>Welcome to Pitch Perfect</h1>
    <div class="container">
        <h3 class="success">Categories:</h3>
        <div class="card-body">
            <p>Finance</p>
            {{ macro.displayPitches(finance)}}
        </div>
        <div class="card-body">
            <p>Business</p>
        </div>
        <div class="card-text">
            <p>Technology</p>
        </div>
        <div class="card-text">
            <p>Love & Relationships</p>
        </div>
        <div class="card-text">
            <p>General</p>
        </div>
        </div>
    {% endblock %}
